@font-face {
  font-family: "Px437_IBM_VGA_8x16";
  src: url(Px437_IBM_VGA_8x16.ttf) format("truetype");
}

body {
  font-family: "Px437_IBM_VGA_8x16", monospace;
  font-size: 22px;
  background-color: #111;
  color: #DDD;
  height: 100%;
  padding: 0;
}

.content {
  width: 40em;
  max-width: 90%;
  margin: auto;
  height: 100%;
  position: relative;
}

canvas {
  width: 100%;
  image-rendering: pixelated;
  position: absolute;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
}

.button-list label {
  display: inline-block;
  padding: 0.5em 1em;
  border: 2px solid #DDD;
  cursor: pointer;
}

.button-list label:hover {
  background: #333;
  color: white;
}

.button-list button {
  background-color: transparent;
  color: #DDD;
  border: 2px solid #DDD;
  font: inherit;
  padding: 0.5em 1em;
  cursor: pointer;
  height: 2.6em;
}

.button-list *:hover {
  background: #333;
  color: white;
}

#endoom-display {
  aspect-ratio: 1.6;
  width: 100%;
  padding: 0;
  border: 2px solid #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

a {
  color: #DDD;
}

a:hover {
  background: #333;
  color: white;
  text-decoration: none;
}
